In [96]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [95]:
datafile= "C:\\Users\\ronyh\\Desktop\\BD Python\\destinations_LP_crawler_Ex5.csv"

In [97]:
data = pd.read_csv(datafile,encoding='ISO-8859-1')

In [98]:
key= ""

In [99]:
def capital(city):
        url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (city, key)
        response = requests.get(url)
        response_json = response.json()
        long = len(response_json["results"][0]['address_components'])-1
        country = response_json["results"][0]['address_components'][long]['long_name']
        try:
            shit = int(country.split()[0])
            country = response_json["results"][0]['address_components'][long-1]['long_name']
            return(country)
        except:
            return(country)

In [100]:
data["Country"] = data['city_LP'].apply(capital)
data

         city                           city_LP      Country
0     Antalya       mediterranean-coast/antalya       Turkey
1      Athens                            Athens       Greece
2   Ayia-napa  the-republic-of-cyprus/Agia-napa       Cyprus
3     Bangkok                           Bangkok     Thailand
4   Barcelona                         Barcelona        Spain
..        ...                               ...          ...
71     Venice                            Venice        Italy
72     Vienna                            Vienna      Austria
73     Warsaw                            Warsaw       Poland
74  Zakynthos                         Zakynthos       Greece
75     Zurich                            Zurich  Switzerland

[76 rows x 3 columns]

In [109]:
def description(city_LP,country):
    url="https://www.lonelyplanet.com/"+country+"/"+city_LP
    html = requests.get(url)
    if not html.status_code == 200:
        return None
    results_page = BeautifulSoup(html.content, 'html.parser')
    #des = results_page.find_all('div',class_="readMore_content___5EuR relative overflow-hidden max-h-96 is-max wysiwyg")
    des= results_page.find('div',{'class':'readMore_content___5EuR relative overflow-hidden max-h-96 is-max wysiwyg'}).get_text()
    des=des.replace("â€™","'")
    return(des)

In [110]:
data["Description"] = data.apply(lambda data: description(data.city_LP, data.Country), axis=1)
data

,city,city_LP,Country,Description
0,Antalya,mediterranean-coast/antalya,Turkey,Once seen simply as the gateway to the Turkish...
1,Athens,Athens,Greece,"With equal measures of grunge and grace, Athen..."
2,Ayia-napa,the-republic-of-cyprus/Agia-napa,Cyprus,Endless blue-sky days and a coastline riddled ...
3,Bangkok,Bangkok,Thailand,"Same same, but different. This Thailish T-shir..."
4,Barcelona,Barcelona,Spain,Barcelona is an enchanting seaside city with b...
...,...,...,...,...
71,Venice,Venice,Italy,Imagine the audacity of building a city of mar...
72,Vienna,Vienna,Austria,Baroque streetscapes and imperial palaces set ...
73,Warsaw,Warsaw,Poland,"A phoenix arisen from the ashes, Poland's capi..."
74,Zakynthos,Zakynthos,Greece,"Zakynthos, also known by its Italian name Zant..."
75,Zurich,Zurich,Switzerland,"Culturally vibrant, efficiently run and attrac..."

In [111]:
LP_destinations=data.drop("city_LP",axis=1)
LP_destinations.to_csv("C:\\Users\\ronyh\\Desktop\\BD Python\\LP_destinations.csv", index=False)